#locais{
    display: grid;
    align-items: center;
    justify-content: center;

    color: var(--text-color-primary);
    background-color: var(--background-color);
    padding-bottom: 3.125rem;

   & .local-titulo {
        display: grid;
        justify-content: center;
        margin: 1rem 0 1rem 0;
        letter-spacing: .25rem;
        text-transform: uppercase;
        color: var(--color-font);
        font-family: var(--ff-sans);
        font-weight: var(--fw-bold) ;
        font-size: var(--fs-2);
    }
    
    & .paragrafo-local{
        display: grid;
        justify-content: center;
        color: black;
        margin-bottom: 1rem;
        font-family: var(--ff-sans);
        font-size: var(--fs-p);
        font-weight: var(--fw-md);
    }
    
    & .card-group{
        margin-top: 1rem;
        display: grid;
        grid-template:
        "1fr 1fr 1fr"
        "1fr 1fr 1fr";
        grid-auto-flow: row;
        gap: 1.5625rem;
    
        & h2 {
            font-family: var(--ff-sans);
            font-size: var(--fs-3);
            font-weight: var(--fw-md);
            line-height: var(--lh-h1-2);
            
        }
        
    }
    
    
    & .card {
        width: 17.1875rem;
        height: 11.4375rem;
        border-radius: 1rem;
        overflow: hidden;
        position: relative;
        transition: 0.5s;
        cursor: pointer;
    }
    & .card img {
       width: 100%;
       height: 100%;
       object-fit: cover;
       pointer-events: none;
       transition: 0.5s;
    }
    
    & .card .layer{
        background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 75%;
        opacity: 0;
        transition: 0.3s;
    }
    & .separator {
        height: 1px;
        width: 250px;
        background: radial-gradient(
            var(--text-color-primary), 
            var(--background-color) 70% );
    }

    & .card .info{
        position: absolute;
        bottom: -50%;
        padding: 2px;
        opacity: 0;
        transition: 0.5s bottom, 1.75s opacity;
        margin: .25rem 0 .25rem .25rem;
        
    
    }
    
    
    & .info p {
        font-size: .9em;
        margin-top: .1875rem;
        text-align: justify;
        
       
    }
    & .info button a {
        text-decoration: none;
        color: var(--text-color-primary);
        font-family: var(--ff-sans);
        font-weight: var(--fw-base);
    }
    & .info button {
        
        background: #659f1f;
        border: none;
        padding: .2rem .75rem;
        border-radius: .5rem;
        margin: .25rem 0 .25rem .25rem;
      
    }
    & .card:hover,
    .card:hover img,
    .card:hover layer, .card:hover .separator, .card:hover.info button a {
        transform: scale(1.1);
    }

    & .card:hover > .layer {
        opacity: 1;
    }

    & .card:hover > .separator {
        opacity: 1;
    }

    & .card:hover > .info {
        bottom: 0;
        opacity: 1;
    }


    & .card-group:hover > .card:not(:hover){
        filter: blur(.3125rem);
    }
}

@media (min-width: 320px) and (max-width: 1024px){
    #locais{
        width: 100%;
        display: grid;
        align-items: center;
        justify-content: center;
    
        color: var(--text-color-primary);
        background-color: var(--background-color);
        padding-bottom: 3.125rem;
    
       & .local-titulo {
        width: 23.125rem;
        font-size: var(--fs-h1);
        margin-top: .9375rem;
        padding: 0;
    
       
        text-align: center;
        text-transform: uppercase;
        color: transparent;
        background-clip: text;
        letter-spacing: .20rem;
        color: var(--color-font);
        font-family: var(--ff-sans);
        font-weight: var(--fw-bold) ;
        font-size: var(--fs-2);
        }
        
        & .paragrafo-local{
            display: inline;
            text-align: center;
            color: #000000;
            margin-bottom: 1rem;
            font-family: var(--ff-sans);
            font-size: var(--fs-p);
            font-weight: var(--fw-md);
        }
        
        & .card-group{
            margin-top: 1rem;
            display: grid;
            grid-template:
            "1fr"
            "1fr";
            grid-auto-flow: row;
            justify-content: center;
            align-items: center;

            
        
            & h2 {
                font-family: var(--ff-sans);
                font-size: var(--fs-3);
                
            }
            
        }
        
        
        & .card {
            width: 17.1875rem;
            height: 11.4375rem;
            border-radius: 1rem;
            overflow: hidden;
            position: relative;
            transition: 0.5s;
            cursor: pointer;
        }
        & .card img {
           width: 100%;
           height: 100%;
           object-fit: cover;
           pointer-events: none;
           transition: 0.5s;
        }
        
        & .card .layer{
            background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 75%;
            opacity: 0;
            transition: 0.3s;
        }

        & .separator {
            height: 1px;
            width: 250px;
            background: radial-gradient(
                var(--text-color-primary), 
                var(--background-color) 70% );
        }
        
        & .card .info{
            position: absolute;
            bottom: -50%;
            padding: 2px;
            opacity: 0;
            transition: 0.5s bottom, 1.75s opacity;
            margin: .25rem 0 .25rem .25rem;
            
        
        }
        
        
        & .info p {
            font-size: .9em;
            margin-top: .1875rem;
            text-align: justify;
            font-family: 'Inter', sans-serif;
           
        }
        & .info button a {
            text-decoration: none;
            color: var(--text-color-primary);
            font-family: var(--ff-sans);
            font-weight: var(--fw-base);
        }
        & .info button {
            
            background: #659f1f;
            border: none;
            padding: .2rem .75rem;
            border-radius: .5rem;
            margin: .25rem 0 .25rem .25rem;
          
        }
        & .card:hover,
        .card:hover img,
        .card:hover layer, .card:hover .separator, .card:hover.info button a {
            transform: scale(1.1);
        }
    
        & .card:hover > .layer {
            opacity: 1;
        }
    
        & .card:hover > .separator {
            opacity: 1;
        }
    
        & .card:hover > .info {
            bottom: 0;
            opacity: 1;
        }
    
        & .card-group:hover > .card:not(:hover){
            filter: blur(.3125rem);
        }
    }

}

